 /* .wrapper{
    
     max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
} */
.navbar{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #f39c12;
}
.nav_list{
    display: flex;
    align-items: center;
   
}
.nav_list  a{
 /* justify-content: space-evenly; */
 padding: 55px;
list-style: none;
text-decoration: none;
margin-top: -24px;
color: black;
font-size: 15px;
font-weight: 500;
}
.nav_list a:hover{
    cursor: pointer;
    color: #f39c12;
    

}

.mainHead{
    color: #f39c12;
}
.mainHead:hover{
 cursor: pointer;
 color:#f39c12;
}
.navbutton{
    padding: 12px;
margin-top: -24px; 
color: white;
background-color: #f39c12;
border-radius: 5px;
}
.navbutton:hover{
    cursor: pointer;
    background-color: #fff;
    color: #f39c12;
    border: 2px solid #f39c12;
    
}
.herosection{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f39c12;
    
}
.leftpart img{
    /* align-items: center; */
    margin-left: 100px;
}
.heroHead{
    font-size: 40px;
    margin-left: 70px;
}
.heroPara{
    font-size: large;
    line-height: 1.5;
}
.page2card{
    display: flex;
    justify-content: space-evenly;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid #f39c12;
    /* align-items: center; */
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid #f39c12;
}
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid #f39c12;
}
.cardhead{
    
    /* border-bottom: 2px solid #f39c12; */
    /* border-bottom-width: 4px solid #f39c12 ; */
}